.nav{
    background-color: rgba(231, 235, 239, 0.187);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid rgba(124, 125, 131, 0.088);
    padding: 8px;
    border-radius: 6px;
}