.App {
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 52, 57, 0.282);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  color: rgba(rgba(31, 31, 34, 0.862), green, blue, alpha);
}

.container{
  border: 2px solid rgba(13,19,0.801);
  padding: 3px;
}